<div class="mb-3" [formGroup]="formGroup">
  <label for="{{ id }}" class="form-label">{{ label }}</label>
  <div class="d-flex align-items-center gap-2">
    <!-- File Input Field -->
    <div class="input-group">
      <input
        class="form-control"
        type="file"
        [id]="id"
        [accept]="accept"
        (change)="onFileChange($event)"
        #fileInput
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="clearFileInput()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
        <!-- Clear icon -->
      </button>
    </div>
    <!-- Checkbox for isActive -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="{{ id }}-isActive"
        formControlName="isActive"
      />
      <label class="form-check-label" for="{{ id }}-isActive"> Active </label>
    </div>
  </div>
</div>
