<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <!-- Brand and collapse icon -->
    <a class="navbar-brand" href="#">Brand Name</a>
    <button class="navbar-toggler" type="button" id="sidebarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Notification and profile icons -->
    <div class="ms-auto">
      <a href="#" class="text-white me-3"><i class="fas fa-bell"></i></a>
      <a href="#" class="text-white"><i class="fas fa-user"></i></a>
    </div>
  </div>
</nav>
