<div class="container mt-5">
  <h1 class="text-center mb-4">Update Profile</h1>

  <form [formGroup]="homeForm">
    <!-- Profile Picture -->
    <app-update-profile-pic
      [profilePictureForm]="profilePictureFormGroup"
    ></app-update-profile-pic>

    <!-- Title -->
    <app-text-box
      label="BrandName"
      type="text"
      id="brandName"
      placeholder="Enter Your Brand Name"
      [formControl_]="formUtilService.getFormControl(homeForm.get('brandName'))"
    ></app-text-box>

    <!-- FirstName -->
    <app-text-box
      label="First Name"
      type="text"
      id="firstName"
      placeholder="Enter your First Name"
      [formControl_]="formUtilService.getFormControl(homeForm.get('firstName'))"
    ></app-text-box>

    <!-- LastName -->
    <app-text-box
      label="Last Name"
      type="text"
      id="lastName"
      placeholder="Enter your Last Name"
      [required]="true"
      [formControl_]="formUtilService.getFormControl(homeForm.get('lastName'))"
    ></app-text-box>

    <!-- Professions -->
    <app-drag-list
      [formArray]="professions"
      valueControllerName="professionName"
      label="Professions"
    ></app-drag-list>
    <div class="mb-4">
      <app-add-field
        [formArray]="professions"
        valueControllerName="professionName"
        type="text"
        placeholder="Add Profession"
      ></app-add-field>
    </div>

    <div formArrayName="socialMedias">
      @for(socialMedia of socialMediasFormArray.controls; track socialMedia;let
      i =$index){
      <app-text-box-with-active
        label="{{ socialMedia.get('name')?.value }} URL"
        type="url"
        id="{{ socialMedia.get('name')?.value }}URL"
        placeholder="Enter Your {{ socialMedia.get('name')?.value }} Url"
        [formGroup_]="formUtilService.getFormGroup(socialMedia)"
        formControlName_="url"
      ></app-text-box-with-active>
      }
    </div>
    <!-- Resume File -->
    <app-choose-file-with-active
      accept=".pdf"
      id="resumeUrl"
      label="Resume file"
      [formGroup]="resumeFormGroup"
    ></app-choose-file-with-active>

    <!-- GitHub URL -->
    <app-text-box-with-active
      label="Github URL"
      type="url"
      id="githubURL"
      placeholder="Enter Your Github Url"
      [formGroup_]="githubFormGroup"
      formControlName_="url"
    ></app-text-box-with-active>

    <!-- <app-text-box-with-active
    label="LinkedIn URL"
    type="url"
    id="linkedInURL"
    placeholder="Enter Your LinkedIn Url"
    [formGroup]="linkedInFormGroup"
    ></app-text-box-with-active> -->
    <div class="d-flex gap-3">
      <button
        type="submit"
        class="btn w-100"
        (click)="onChangeFormStatus()"
        [ngClass]="[!homeFormStatus ? 'btn-warning' : 'btn-danger']"
      >
        {{ homeFormStatus ? "Disable" : "Edit" }}
      </button>
      <button
        type="submit"
        class="btn btn-success w-100"
        (click)="onSubmit()"
        [disabled]="!homeFormStatus"
      >
        Update Home
      </button>
    </div>
  </form>
</div>
