<div class="sidebar" id="sidebar">
  <div class="p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/portfolio']"
          routerLinkActive="router-link-active"
          >Portfolio</a
        >
      </li>
    </ul>
  </div>
</div>
